<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}
  </body>

</html>




<!-- Japanese language detection -->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const japaneseRegex = /[\u3000-\u303F\u3040-\u309F\u30A0-\u30FF\u4E00-\u9FFF]/;

    const elements = document.querySelectorAll("p, li, h1, h2, h3, h4, h5, h6");

    elements.forEach(el => {
      // Skip if element contains any child with lang="ja"
      if (el.querySelector('[lang="ja"]')) return;

      if (japaneseRegex.test(el.textContent)) {
        el.setAttribute("lang", "ja");
      }
    });
  });
</script>
